/* web */
.reservation-product .tab-page .tab {
    width: 100%;
}

.reservation-product > ul.tab-page li:nth-child(2) {
    display: none;
}

.reservation-product .tab-page[data-len='2'] .tab {
    width: 100%;
}

.reservation-product .tab-page .tab.selected a {
    color: #167a47;
    border-color: #167a47;
}

.reservation-product .product-info-container .product-info {
    padding: 0;
}

.reservation-product .product-info .sub {
    color: #222;
}

.reservation-product .text-notice {
    color: #f7441b;
}

/* mobile */
.noIE.mob .common-basic-info {
    letter-spacing: 0;
}

.common-basic-info .basic-info-wrap {
    border-top: none;
}

.basic-info-wrap > .title:first-child {
    display: none;
}

.noIE.mob .detail-wrap .head-sub.next-section {
    text-align: center;
    padding-left: 0;
}

.noIE.mob .detail-wrap ul li a.btn.small.light  {
    margin-top: 5px;
}

.reservation-product .common-basic-info {
    background: #fff;
}

.common-basic-info .dot-bu-list li:before {
    background: #222;
}

.common-basic-info .title,
.common-basic-info {
    color: #222;
}