/* web */
/* .reservation-product .tab-page .tab {
    width: 100%;
}

.reservation-product > ul.tab-page li:nth-child(2) {
    display: none;
}

.reservation-product .tab-page[data-len='2'] .tab {
    width: 100%;
} */

.reservation-product .tab-page .tab.selected a {
    color: #167a47;
    border-color: #167a47;
}

.reservation-product .product-info-container .product-info {
    padding: 0;
}

.reservation-product .product-info .sub {
    color: #222;
}

.reservation-product .text-notice {
    color: #f7441b;
}

/* mobile */
.noIE.mob .common-basic-info {
    font-size: 14px;
    letter-spacing: 0;
    border-bottom: 8px solid #f5f5f5;
}

.noIE.mob .common-basic-info .basic-info-wrap {
    border-top: none;
}

.noIE.mob .common-basic-info > .title {
    display: none;
}

.noIE.mob .basic-info-wrap > .title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.noIE.mob .detail-wrap .head-sub.next-section {
    text-align: center;
    padding-left: 0;
}

.noIE.mob ul li a.btn.small.light  {
    margin-top: 5px;
    color: #666;
    border-color: #666;
}

.noIE.mob .reservation-product .common-basic-info {
    background: #fff;
}

.noIE.mob .common-basic-info .dot-bu-list li:before {
    background: #222;
}

.noIE.mob .common-basic-info .title,
.noIE.mob .common-basic-info {
    color: #222;
}